* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ANTHONY CSS */

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    background-color: rgb(201, 3, 3);
    height: 5px;
    width: 60px;
    margin: 15px 0;
    border: none;
}

p {
    text-align: center;
}

.p_intro {
    margin-bottom: 15px;
}

section {
    display: flex;
    width: 60%;
}
.infos {
    width: 50%;
    color: white;
    background-color: #282b30;
}

.bloc_un {
    display: flex;
    align-items: center;
    justify-self: center;
    width: 100%;
    height: 50%;
    padding: 20px;
}

.bloc {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    gap: 10px;
}



.map {
    width: 55%;
}
a{
    text-decoration: none;
    color: #8b8c90
}

.row {
    display : flex;
}

section{
    background-color: #282b30;
}

.bloc{
    margin:5px;
    padding: 5px;
    text-align: center;
    width : 200px;
}

.info-container p {
    color: #8b8c90;
}

.icon-title{
    font-weight: bold;
    font-size: 1.3rem;
}

.icon-text{
    font-size: 1.1rem;
}

.icon-circle{
    border-radius: 50%;
    padding:15px;
    border :solid #8b8c90 1px;
}

i{
    color: #8b8c90;
}

.social-networks-icons-list {
display:flex;
justify-content: space-around;
}